* {
    -webkit-box-sizing:border-box;
    box-sizing:border-box
}

#sliderContainer {
    height: 600px;
}

.slideElement{
    position: absolute;
    top: 0;
    visibility: hidden;
    opacity:0;
}
.slideElement img{
    max-width: 800px;
    height: auto;
    max-height: 500px;
}

.visible{
    visibility: visible;
    -webkit-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    transition: opacity 1s linear;
    position: absolute;
    top: 0;
    opacity:1
}

figcaption {
    position: absolute;
    color: white;
    font-size: 2rem;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    bottom: 0;
    text-align: center;
}

#map{
    width: 700px;
    height: 700px;
}

.infosMap {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.infos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#stationInfos {
    border: solid 1px #7c7c7c;
    padding: 2rem;
    width: 350px;
}

.open{
    color : green;
}

.closed{
    color: red;
}

.noAvailableBikes{
    color: orangered;
}

.signed{
    border: solid 1px;
    margin-top: 20px;
}

.signature{
    display: none;
    position: absolute;
    z-index: 1001;
    background: white;
    left: 25%;
    padding: 2rem;
    border: solid 2px;
}

.canvas{
    border : solid 1px;
}

.alert{
    color: red;
}

.timer{
    display: none;
    text-align: center;
    font-size: 2rem;
}

#station{
    font-weight: bold;
}

#expired{
    display: none;
}
